[project]
	description = Cordova / PhoneGap Social Message Plugin for Apache Cordova >= 3.0.0
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Lee Crossley (leecrossley)
[access "refs/for/refs/*"]
	read = group user/Lee Crossley (leecrossley)
	push = group user/Lee Crossley (leecrossley)
	label-Code-Review = -2..+2 group user/Lee Crossley (leecrossley)
	label-Verified = -1..+1 group user/Lee Crossley (leecrossley)
	rebase = group user/Lee Crossley (leecrossley)
	removeReviewer = group user/Lee Crossley (leecrossley)
	submit = group user/Lee Crossley (leecrossley)
[access "refs/heads/*"]
	read = group user/Lee Crossley (leecrossley)
	create = group user/Lee Crossley (leecrossley)
	push = +force group user/Lee Crossley (leecrossley)
	pushMerge = group user/Lee Crossley (leecrossley)
[access "refs/tags/*"]
	push = +force group user/Lee Crossley (leecrossley)
	pushTag = group user/Lee Crossley (leecrossley)
	pushSignedTag = group user/Lee Crossley (leecrossley)
